input:invalid, input:required, select:invalid, select:required {
    border: 1px solid #ff3860;
}

input:valid:required, select:valid:required {
    border: 1px solid #00d1b2;
}

.title_icon {
    position: absolute;
    top: inherit;
    left: 1rem;
}

.scrolled-down {
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

.fixed_menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.has-text-grey-lighter img {
    opacity: 25%;
}