        </main>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                  <strong>Vinocave</strong> <em>2022</em>
                </p>
            </div>
        </footer>

        <script src="/js/modals.js"></script>

    </body>
</html>
