<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4e694e7b2a.js" crossorigin="anonymous"></script>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>Vinocave</title>
</head>
<body>
    <header>
        <nav class="navbar is-transparent autohide fixed_menu" role="navigation" aria-label="main navigation">          
            <a href="/" class="navbar-brand is-flex is-flex-direction-row is-align-items-center is-justify-content-center">
                <figure class="image is-48x48 mr-10 title_icon">
                    <img src="/img/grapes.png">
                </figure>
                
                <h1 class="title is-2 has-text-centered py-3">Vinocave</h1>
                
            </a>
            
            <div class="navbar-menu is-flex is-justify-content-space-around is-align-items-center py-0">
                <a href="/vins/blanc" class="navbar-item">
                    <img src="/img/blanc.png" alt="Vins blancs" title="Vins blancs">
                </a>
          
                <a href="/vins/rose" class="navbar-item">
                    <img src="/img/rose.png" alt="Vins rosés" title="Vins rosés">
                </a>

                <a href="/vins/rouge" class="navbar-item">
                    <img src="/img/rouge.png" alt="Vins rouges" title="Vins rouges">
                </a>    
                
                <a href="/recherche" class="navbar-item">
                    <i class="fas fa-search" alt="Recherche" title="Recherche"></i>
                </a>        

            </div>
        </nav>  
        
    </header>

    <main class="container">
