<%- include('./partials/header') %>

    <h2 class="subtitle is-4 has-text-centered mt-6">Pas trouvé :(</h2>

    <figure class="image">
        <img src="/img/question.jpg">
    </figure>

<%- include('./partials/footer') %>
